.spinner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner:after {
  content: "";
  width: 70px;
  height: 70px;
  display: block;
  border-radius: 50%;
  border: 6px solid #73c6b6;
  border-color: #73c6b6 transparent #73c6b6 transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}