@import "../core/variables.scss";

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-bottom: 10px;

  &_item {
    width: 35px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    border: 1px solid #273746;
    font-weight: 500;
    transition: all 0.2s linear;
    cursor: pointer;

    &:hover:not(.active) {
      color: #fff;
      background-color: #ffa500;
    }
  }
}

.active {
  color: #fff;
  background-color: #5499c7;
}