.portfolio-item {
  width: 31.7%;
  height: 280px;
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
  border: 10px solid #eaeded;
  border-radius: 12px;
  transition: all 0.2s linear;
  overflow: hidden;

  &:hover {
    transform: scale(0.95);
    border: 10px solid #d0ece7;
  }

  &__showcase {
    width: 100%;
    height: 80%;
  }

  &__description {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
