$minWidth: 320px;
$maxWidth: 1920px;
$maxContainerWidth: 1600px;
$containerPadding: 15px;
$containerWidth: $maxContainerWidth + $containerPadding;
$pc: $containerWidth;
$large: 1400px;
$desktop: 1201px;
$laptop: 1025px;
$tablet: 769px;
$mobile: 480px;
$small: 320px;