$minWidth: 320px;
$maxWidth: 1920px;
$maxContainerWidth: 1600px;
$containerPadding: 15px;
$containerWidth: $maxContainerWidth + $containerPadding;
$pc: $containerWidth;
$large: 1600px;
$desktop: 1200px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 480px;
$small: 320px;